/* Your application styles go here */

.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#map {
  width: 75%;
  height: 75%;
}

.scroll {
  height: 100%;
}

.angular-google-map-container { height: 400px; }