<ion-view >
    <ion-content class="has-header padding">
        <h1>Mood Tracker</h1>
        <div class="bar bar-header bar-calm">
  <h1 class="title">Welcome to Mood Tracker!</h1>
</div>
<form method="get" ng-submit ='signUp()'>
      <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="John" ng-model='first.text'>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Smith" ng-model='last.text'>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@smith.com" ng-model='email.text'>
  </label>
    <button class="button button-energized" type='submit'>
                    Sign up!
                </button>
</div>
      </form>

    </ion-content>
</ion-view>