<ion-view title="Dashboard">
    <ion-content class="has-header padding">
        <h1>Mood Tracker</h1>
<form method="get" ng-submit ='saveMood()'>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Your Mood" ng-model='name.text'>
            </label>
            <div class="item range range-positive">
                <i class="icon ion-ios7-cloud"></i>
                <input type="range" name="scale" min="0" max="10" value="5" ng-model='scale'>
                <i class="icon ion-ios7-sunny-outline"></i>
            </div>

            <label class="item item-input">
                <input type="text" placeholder="Comments" ng-model='comment.text'>
            </label>
            <button class="button button-energized" type='submit'>
                Submit your Mood!
            </button>

        </div>
      </form>

    </ion-content>
</ion-view>